*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con{
    margin-left: 0px 8px;
    width: 98%;
    height: 700px;
    border: 8px outset red;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-evenly;
    padding: 8px 0px;
    /* background-color: lightskyblue; */
}
.child{
    border: 2px outset;
    border-radius: 10px;
    flex-basis: 24%;
    box-shadow: 3px 3px 5px darkgray;
    text-align: center;
    padding: 20px;
    /* height: 270px; */
}
img{
    width: 90px;
    height: 90px;
    border-radius: 50px;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    margin-bottom: 30px;
}
.btn{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: green;
    color: white;
}
.child:hover{
    background-color: red;
    color: white;
}